/* Hero Section Styles */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}


/* Ensure the content is above the overlay */
.container.position-relative {
    z-index: 2;
}

.container.position-relative h2{
    font-family: 'Fira Code', monospace;
}
